<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
 <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" th:object = "${regiform}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" th:field = "*{username}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" th:field = "*{password}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                             <span> Not registered ?
                                <a th:href="@{/register}">Register/Signup here</a>
                            </span>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div th:if="${param.success}" class="alert alert-success">
        <p>Registration was successful!</p>
    </div>

    <!-- Display a failure message if the 'success' parameter is not present in the URL -->
    <div th:if="${param.failed}" class="alert alert-danger">
        <p>Registration failed. Please try again.</p>
    </div>
 </body>
</html>
